{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
   <!-- start content -->
   <div class="content">
    <!-- content header -->
    <header class="content-header">
        <!-- content action (optional)-->
        <ul class="content-action pull-right">
            <li>
                <div class="btn-group">
                    <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                        Actions <i class="aweso-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu black">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Some Action</a></li>
                        <li><a href="#">Other Action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Something else</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn btn-link" data-content="widget"><i class="aweso-list-ul aweso-large" title="details view"></i></button>
                    <button class="btn btn-link" data-content="tile"><i class="aweso-th aweso-large" title="tile view"></i></button>
                </div>
            </li>
            <li><button class="btn btn-link" data-toggle="button" data-content="toggle-pane"><i class="aweso-exchange aweso-large" title="toggle pane"></i></button></li>
        </ul> <!-- /content action -->

        <!-- content title-->
        <div class="page-header"><h1>Home</h1></div>

         <!--/ content header -->
    
    <!-- content page -->
    <article class="content-page clearfix">
        <!-- main page, you're application here -->
        <div class="main-page">
            <div class="content-inner">
                
                <!-- write your app here -->
                
            </div>
        </div>
    </article> <!-- /content page -->
{% endblock %}